.item {
  width: 20%;
  display: flex;
  align-items: center;
}
.checkbox {
  width: 25px;
  height: 25px;
}
/* .itemText {
  text-decoration: line-through;
} */
.close {
  margin-left: 6px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
