.packinglist {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}
.emptyList {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}
